[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-desktop
Actions=runApplicationWithDedicatedGPU
X-KDE-Priority=TopLevel

[Desktop Action runApplicationWithDedicatedGPU]
Name=Run Application with Dedicated GPU
Exec=__NV_PRIME_RENDER_OFFLOAD=1 __VK_LAYER_NV_optimus=NVIDIA_only __GLX_VENDOR_LIBRARY_NAME=nvidia kioclient exec %u
